<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunlong.system.biz.mapper.SysLogMapper">

    <resultMap id="SysLogMap" type="com.yunlong.system.api.entity.SysLog">
        <id property="logId" column="log_id"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="appName" column="app_name" jdbcType="VARCHAR"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="methodName" column="method_name" jdbcType="VARCHAR"/>
        <result property="className" column="class_name" jdbcType="VARCHAR"/>
        <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
        <result property="responseStatus" column="response_status" jdbcType="INTEGER"/>
        <result property="responseContent" column="response_content" jdbcType="VARCHAR"/>
        <result property="userAgent" column="user_agent" jdbcType="VARCHAR"/>
        <result property="parameter" column="parameter" jdbcType="VARCHAR"/>
        <result property="consumingTime" column="consuming_time" jdbcType="INTEGER"/>
        <result property="errorCode" column="error_code" jdbcType="VARCHAR"/>
        <result property="errorMessage" column="error_message" jdbcType="VARCHAR"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updater" column="updater" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
    </resultMap>
</mapper>
