<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunlong.system.biz.mapper.SysMenuMapper">

    <resultMap id="SysMenuMap" type="com.yunlong.system.api.entity.SysMenu">
        <id property="menuId" column="menu_id"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="permission" column="permission" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
        <result property="keepAlive" column="keep_alive" jdbcType="VARCHAR"/>
        <result property="menuType" column="menu_type" jdbcType="VARCHAR"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time"/>
        <result property="updater" column="updater" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--通过角色查询菜单信息-->
    <select id="listMenusByRoleId" resultMap="SysMenuMap">
        SELECT sys_menu.menu_id,
               sys_menu.name,
               sys_menu.permission,
               sys_menu.path,
               sys_menu.parent_id,
               sys_menu.icon,
               sys_menu.sort_order,
               sys_menu.keep_alive,
               sys_menu.menu_type,
               sys_menu.create_time,
               sys_menu.update_time,
               sys_menu.del_flag
        FROM sys_menu
                 LEFT JOIN sys_role_menu ON sys_menu.menu_id = sys_role_menu.menu_id
        WHERE sys_menu.del_flag = '0'
          AND sys_role_menu.role_id = #{roleId}
        ORDER BY sys_menu.sort_order DESC
    </select>
</mapper>
