<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunlong.system.biz.mapper.SysUserRoleMapper">

    <resultMap id="SysUserRoleMap" type="com.yunlong.system.api.entity.SysUserRole">
        <id property="userId" column="user_id"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>
</mapper>
